<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="true"
        backupStaticAttributes="true"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        verbose="true"
        syntaxCheck="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>test/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
